* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #EEEBDD;
    background-color: #1B1717;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    color: #eeebdd;
    background-color: #1b1717;
    font-family: 'Vollkorn', 'Georgia', 'Tahoma', 'serif';
}

.tagline {
    color: #DFDCCB;
    font-size: 15px;
    font-weight: normal;
}

.logo:not(.tagline) {
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 30px;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
}

.input-n-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#myInput {
    text-align: left;
    font-family: 'Tahoma', serif;
    padding-right: 40px;
    box-shadow: 0.2px 1px 5px #120f0f;
    border: 0.2px solid #120f0f; 
    border-radius: 4px;
    color: #DFDCCB;
    background-color: #2e2727;
    padding: 15px;
    height: 40px;
    width: 45vw;
}

#myButton {
    position: absolute;
    border: none;
    font-size: 1.7em;
}

.shortURL {
    margin-top: 20px;
}